@import url('./preflight.css');
@import url('./properties.css');

:root {
    font-family:
        'Cousine', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
        'DejaVu Sans Mono', monospace;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    background: var(--color-base);
    color: var(--color-text);
}

*::selection {
    background-color: var(--color-accent);
}

*:focus-visible {
    outline: 2px dashed var(--color-primary);
    outline-offset: 0.3em;
    text-decoration: none;
}

a {
    text-decoration: 2px underline dashed var(--color-primary);
    text-underline-offset: 25%;
}

a:focus,
a:hover,
button:focus,
button:hover {
    background: var(--color-accent);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;

    padding-top: 2em;
    margin-bottom: 1rem;
}

@media screen and (min-width: 50rem) {
    h2 {
        transform: translateX(-1ch);
    }

    h2::before {
        content: '#';
        color: var(--color-primary);
    }
}

h2 > a:focus {
    outline: none;
}

h3 {
    font-size: 1.8rem;

    margin-bottom: 0.3rem;
}

h3 > a:focus {
    outline: none;
}

h4 {
    font-size: 1.2rem;

    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

p:focus {
    background-color: var(--color-accent);
}

.container {
    width: min(70ch, 100dvw - 4ch);
    margin: 0 auto;
}

.container--wide {
    width: min(80ch, 100dvw - 4ch);
    margin: 0 auto;
}
