@import url('./preflight.css');
@import url('./properties.css');

:root {
    font-family:
        'Cousine', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
        'DejaVu Sans Mono', monospace;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    background: var(--color-base);
    color: var(--color-text);
}

*::selection {
    background-color: var(--color-accent);
}

.container {
    width: min(70ch, 100dvw - 2ch);
    margin: 0 auto;
}

.container--wide {
    width: min(80ch, 100dvw - 2ch);
    margin: 0 auto;
}
