@import url('./preflight.css');
@import url('./properties.css');

:root {
    font-family:
        'Cousine', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
        'DejaVu Sans Mono', monospace;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    background: var(--color-base);
    color: var(--color-text);
}

*::selection {
    background-color: var(--color-accent);
}

*:focus-visible {
    outline: 2px dashed var(--color-primary);
    outline-offset: 0.3em;
    text-decoration: none;
}

a {
    text-decoration: 2px underline dashed var(--color-primary);
    text-underline-offset: 25%;
}

a:focus,
a:hover,
button:focus,
button:hover {
    background: var(--color-accent);
}

.container {
    width: min(70ch, 100dvw - 2ch);
    margin: 0 auto;
}

.container--wide {
    width: min(80ch, 100dvw - 2ch);
    margin: 0 auto;
}
